/*Main CSS for Jen Jones' site*/

html, body, h1, h2, h3, h4, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
h1 {
	font-size: 70px;
	font-weight: bold;
	text-align: center;
}
h2 {
	font-size: 30px;
	font-weight: 100;
	text-align: center;
	margin: 0 auto;
}
h3 {
	font-size: 24px;
	font-weight: 500;
	margin: 0 auto;
}
h4 {
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 20px;
}
p {
	font-size: 20px;
	margin: 0 auto;	
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #EE1133;
}

ul
{
  width: 90%;
  margin: 0 auto;
}

ul li
{
  display: inline-block;
}

a {
  padding: 20px;
  cursor: pointer;
}
header {
	padding: 10px 0 20px 0;
}
.tagline, .blog, .courses-current, .courses-completed, .skills, .dev-blog, .blog-list {
	width: 800px;
	margin: 0 auto 20px auto;
	padding-bottom: 20px;
	border-bottom: 1px solid #555555;
}
.navigation {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0 40px 0;
}
.blog img {
	width: 350px;
	float: left;
	padding-right: 20px;
}
.blog-text {
	height: 350px;
	text-align: left;
	margin-top: 40px;
	padding: 20px 20px 0 0;
}
.blog h3 {
	padding-bottom: 10px;
}
.blog p {
	line-height: 30px;
}
.courses-current li, .courses-completed li {
	padding-bottom: 20px;
}
.skills li{
	font-weight: bold;
	background-color: #444444;
	color: #cccccc;
	display: inline;
	padding: 8px;
}
.footer {
	background-color: #999999;
	text-align: center;
	padding: 20px 0 20px 0;
}
.post {
	width: 800px;
	margin: 0 auto;
}
.posts {
	list-style: none;
	padding-bottom: 20px;
}



