/*Main CSS for Jen Jones' site*/
/**
*
*
Site wide
*
*
**/
* {
    box-sizing: border-box;
}
html, body, h1, h2, h3, h4, p, div, ul, ol, li, button {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
}
h1 {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
}
h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 auto;
}
h4 {
    font-size: 20px;
/*    text-align: center;*/
    margin: 0 auto;
    padding-bottom: 20px;
}
p {
    font-size: 20px;
    margin: 16px 0;
    font-weight: 300;
    line-height: 33px;
}
a {
    text-decoration: none;
    color: grey;
    cursor: pointer;
}
a:hover {
    color: #0b8c4c;
}
a.active {
    color: #0b8c4c;
    font-weight: 900;
}
.logo, .logo:hover {
    color: #000;
}
ol {
    padding-left: 50px;
}
ul {
  width: 90%;
  margin: 0 auto;
  list-style: none;
}
header {
    padding: 10px 0 20px 0;
}
/*body {
    background-color: #f4f4f4;
}*/
pre {
    font-size: 16px;
}
.tagline, .blog, .resources-header, .skills-list, .dev-blog, .blog-list,
.blog-title, .course-list, .cv-current{
    margin: 0 auto 40px auto;
    font-weight: normal;
}
.resources-header h2{
    font-size: 25px;
}
.tagline-text {
    padding: 0 10%;
    font-weight: 200;
    font-style: normal;
}

/**
*
*
LINKS
*
*
**/
#resourses-link{
    border: 2px solid #20d47a;
    border-radius: 5px;
}
#resourses-link:hover{
    background-color: #20d47a;
    color: #ffff;
}
/** COMPLETED COURSES LINK **/
#resourses-link{
    padding: 15px;
}
/** NEWSLETTER NAV LINK **/
#newsletter-link{
    border-radius: 5px;
    background: #20d47a;
    color: #ffff;
}
#newsletter-link:hover {
    background-color: #777;
}
#mc_embed_signup .button {
    background: #20d47a;
}
/**
*
*
END - LINKS
*
*
**/

.blog img {
/*    max-width: 400px;*/
    margin: 0px 0 40px;
    padding-right: 30px;
}
.blog-text {
    padding-top: 20px;
}
.blog a {
    padding: 0;
}
.blog h3 {
    padding-bottom: 10px;
}

/**
*
*
USEFUL RESOURCES / COURSES ETC
*
*
**/
.online-resources, .book-resources,
.courses, .courses, .skills-current{
    margin: 20px 0 50px 0;
    padding: 10px 20px;
    background: #edfff6;
}
/** ONLINE RESOURCES **/
.online-resources{
/*    background: #edfff6;*/
}
/** BOOK RESOURCES **/
.book-resources{
/*    background: #edfff6;*/
}
/** CURRENT AND COMPLETED COURSES **/
.courses, .courses{
    /*background: #e6fff2;*/
}
.resource h3{
    font-size: 20px;
    padding-bottom: 10px
}
.course-summary {
    font-size: 17px;
    margin: 0;
    padding-bottom: 30px;
}
/**
*
*
END - USEFUL RESOURCES / COURSES ETC
*
*
**/


.skills-list {
    text-align: center;
}
.skills-list li{
    font-weight: bold;
    background-color: #444444;
    color: #cccccc;
    display: inline;
    padding: 8px;
}
.footer {
    background-color: #CCCCCC;
    text-align: center;
    padding: 10px 0;
}
/**
*
*
POSTS
*
*
**/
#post {
    margin: 0 auto 20px auto;
    padding-bottom: 4px;
}
.posts li {
    display: inline-block;
    padding-bottom: 20px;
}
#post p {
    line-height: 35px;
}
.post-block, .post-first {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #EEEEEE;
}
.blog-text {
    display: inline-block;
}
.excerpt_only {
    float: left;
}
.next-previous-top, .next-previous-bottom {
    text-align: center;
}
.next-previous-bottom {
    padding-bottom: 30px;
}
.previous {
    padding-right: 10px;
}
.next {
    padding-left: 10px;
}
/**
*
*
END - POSTS
*
*
**/

/**
*
*
RESPONSIVE
*
*
**/

.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/**
*
*
END - RESPONSIVE
*
*
**/



/* header */

/*.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}*/

/**
*
*
NAVIGATION
*
*
**/
.navigation ul li{
  display: inline-block;
}
.navigation {
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 30px 0;
}
.navigation a {
    padding: 20px;
}
/**
*
*
END - NAVIGATION
*
*
**/

.header ul {
    display: inline-block;
    overflow: hidden;
}
.header li a {
  display: block;
  padding: 20px 20px;
}
.header .logo {
  display: block;
  padding: 10px 20px;
}

/* menu */
.menu {
    margin-left: auto;
}
nav {
    margin-left: auto;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 450px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


