/*Main CSS for Jen Jones' site*/
/**
*
*
Site wide
*
*
**/
html, body, h1, h2, h3, h4, p, div, ul, ol, li, button {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
}
h1 {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
}
h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 auto;
}
h4 {
    font-size: 20px;
/*    text-align: center;*/
    margin: 0 auto;
    padding-bottom: 20px;
}
p {
    font-size: 20px;
    margin: 16px 0;
    font-weight: 300;
    line-height: 33px;
}
a {
    text-decoration: none;
    color: grey;
    cursor: pointer;
}
a:hover {
    color: #0b8c4c;
}
/*a:active {
    color: #EE1133;
    font-style: bold;
}*/
ol {
    padding-left: 50px;
}
ul {
  width: 90%;
  margin: 0 auto;
}
header {
    padding: 10px 0 20px 0;
}
pre {
    font-size: 16px;
}
.tagline, .blog, .resources-header, .skills, .dev-blog, .blog-list,
.blog-title, .course-list, .cv-current{
    width: 800px;
    margin: 0 auto 40px auto;
    font-weight: normal;
}
.resources-header h2{
    font-size: 25px;
}
.tagline-text {
    font-weight: 200;
    font-style: normal;
}

/**
*
*
NAVIGATION
*
*
**/
.navigation ul li{
  display: inline-block;
}
.navigation {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 30px 0;
}
.navigation a {
    padding: 20px;
}
.link {
    border: none;
/*    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;*/
}
.active, .link:hover {
  color: #0b8c4c;
}
:focus{
    outline: none;
}
/**
*
*
END - NAVIGATION
*
*
**/

/**
*
*
LINKS
*
*
**/
#resourses-link{
    border: 2px solid #20d47a;
    border-radius: 5px;
}
#resourses-link:hover{
    background-color: #20d47a;
    color: #ffff;
}
/** COMPLETED COURSES LINK **/
#resourses-link{
    padding: 15px;
}
/** NEWSLETTER NAV LINK **/
#newsletter-link{
    border-radius: 5px;
    background: #20d47a;
    color: #ffff;
    margin: 15px;
    padding: 15px;
}
#newsletter-link:hover {
    background-color: #777;
}
#mc_embed_signup .button {
    background: #20d47a;
}
/**
*
*
END - LINKS
*
*
**/

.blog img {
    max-width: 400px;
    margin: 0px 0 40px;
    padding-right: 30px;
}
.blog-text {
    padding-top: 20px;
}
.blog a {
    padding: 0;
}
.blog h3 {
    padding-bottom: 10px;
}

/**
*
*
USEFUL RESOURCES / COURSES ETC
*
*
**/
.online-resources, .book-resources,
.courses, .courses, .skills-current{
    margin: 20px 0 50px 0;
    padding: 10px 20px;
    background: #edfff6;
}
/** ONLINE RESOURCES **/
.online-resources{
/*    background: #edfff6;*/
}
/** BOOK RESOURCES **/
.book-resources{
/*    background: #edfff6;*/
}
/** CURRENT AND COMPLETED COURSES **/
.courses, .courses{
    /*background: #e6fff2;*/
}
/**
*
*
END - USEFUL RESOURCES / COURSES ETC
*
*
**/

.resource h3{
    font-size: 20px;
    padding-bottom: 10px
}
.cv-section h3{
    padding-bottom: 10px
}
.course-summary {
    font-size: 17px;
    margin: 0;
    padding-bottom: 30px;
}
.cv-section-summary {
    font-size: 20px;
    margin: 0;
    padding-bottom: 30px;
}
.skills-list li{
    font-weight: bold;
    background-color: #444444;
    color: #cccccc;
    display: inline;
    padding: 8px;
}
.duties {
    font-size: 20px;
    padding-bottom: 30px;
}
.duties ul{
    display: none;
    list-style-type: disc;
}
.footer {
    background-color: #CCCCCC;
    text-align: center;
    padding: 10px 0;
}
/**
*
*
POSTS
*
*
**/
#post {
    width: 800px;
    margin: 0 auto 20px auto;
    padding-bottom: 4px;
}
.posts li {
    display: inline-block;
    padding-bottom: 20px;
}
#post p {
    line-height: 35px;
}
.post-block, .post-first {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #EEEEEE;
}
.blog-text {
    display: inline-block;
}
.excerpt_only {
    float: left;
}
.next-previous-top, .next-previous-bottom {
    text-align: center;
}
.next-previous-bottom {
    padding-bottom: 30px;
}
.previous {
    padding-right: 10px;
}
.next {
    padding-left: 10px;
}
/**
*
*
END - POSTS
*
*
**/
