<!DOCTYPE html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/styles.css">

</head>

<body>

<div class="default-grid">

  <div class="logo-container">
    <h1 class="logo">
      <a id="home-link" href="/">Jen Jones
      </a></li>
    </h1>
  </div>

  <div class="menu-container">
    <nav>
      <input class="menu-btn" type="checkbox" id="menu-btn">
      <label class="burger-menu" for="menu-btn"><span class="navicon"></span></label>
      <div class="menu">
          <ul>
                            <!-- HOME PAGE -->
                            {% if page.title == "Home Page" %}
                            <li><a class="active" id="home-link" href="/">Home</a></li>
                            {% else %}
                            <li><a id="home-link" href="/">Home</a></li>
                            {% endif %}

                            <!-- RESOURCES -->
                            {% if page.title == "Resources" %}
                            <li><a class="active" id="course-link" href="/resources.html">Resources</a></li>
                            {% else %}
                            <li><a id="course-link" href="/resources.html">Resources</a></li>
                            {% endif %}

                            <!-- BLOG -->
                            {% if page.title == "Development Blog" %}
                            <li><a class="active" id="blog-link" href="/blog.html">Blog</a></li>
                            {% else %}
                            <li><a id="blog-link" href="/blog.html">Blog</a></li>
                            {% endif %}

                            <!-- GitHub -->
                            {% if item.external_url == "https://github.com/jenjnif" %}
                            <li><a class="active" href="https://github.com/jenjnif" target=”_blank”>My GitHub</a></li>
                            {% else %}
                            <li><a href="https://github.com/jenjnif" target=”_blank”>My GitHub</a></li>
                            {% endif %}

                            <!-- SUBSCRIBE BUTTON -->
                            <li><a class="link" id="newsletter-link" href="http://eepurl.com/gZdApj">Subscribe</a></li>
                        </ul>
      </div>
    </nav>
  </div>

<div class="content">

  {{ content }}

</div>

<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
    <form action="https://github.us19.list-manage.com/subscribe/post?u=cb2ad868255997ae939f06db7&amp;id=3e449df267" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Subscribe to my email newsletter</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_cb2ad868255997ae939f06db7_3e449df267" tabindex="-1" value="">
              </div>
              <div class="clear">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
        </div>
    </form>
</div>

<!--End mc_embed_signup-->

      <div class="footer">
          <h3 class="contact">Jen Jones</h3>
          <a href="https://github.com/jenjnif" target="_blank">github.com/jenjnif</a>
    </div>

</div>

</body>